.rightbar {
  &Title {
    margin-bottom: 20px;
  }

  &Title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  &FollowButton {
    margin-top: 30px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    background-color: $button-color;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  &Info {
    margin-bottom: 30px;
  }

  &InfoItem {
    margin-bottom: 10px;
  }

  &InfoKey {
    font-weight: 500;
    margin-right: 15px;
    color: #555;
  }

  &InfoValue {
    font-weight: 300;
  }

  &Followings {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    column-gap: 5px;
    // justify-items: center;
  }

  &Following {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;

    span {
      width: 100px;
      text-align: center;
    }
  }

  &FollowingImg {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
  }
}
