.messenger {
  height: calc(100vh - 70px);
  display: flex;

  .chatMenu {
    flex: 2;
    border-right: 2px solid #eee;
    @media screen and (max-width: 600px) {
      flex: 1;
    }

    &Input {
      width: 90%;
      padding: 10px 0;
      border: none;
      border-bottom: 1px solid gray;
      // @media screen and (max-width: 768px) {
      //   display: none;
      // }
    }
  }

  .chatBox {
    flex: 6;
    // @media screen and (max-width: 768px) {
    //   flex: 10;
    // }

    &Wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
    }

    &Top {
      height: 100%;
      overflow-y: scroll;
      padding-right: 10px;

      &::-webkit-scrollbar {
        width: 5px;
      }
      &::-webkit-scrollbar-track {
        background-color: #f1f1f1;
      }
      &::-webkit-scrollbar-thumb {
        background-color: rgb(179, 179, 179);
      }
    }

    &Bottom {
      margin-top: 5px;
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }

  .chatMessageInput {
    width: 80%;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;

    &:focus {
      outline: none;
    }
  }

  .chatSubmitButton {
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: $button-color;
    color: white;
    display: flex;
    align-items: center;
    gap: 3px;
  }

  // .chatOnline {
  //   flex: 3;
  //   @media screen and (max-width: 768px) {
  //     flex: 1px;
  //   }
  // }

  .chatMenuWrapper,
  .chatBoxWrapper,
  .chatOnlineWrapper {
    padding: 10px;
    height: 100%;
  }

  .noConversationText {
    position: absolute;
    top: 10%;
    font-size: 50px;
    color: rgb(224, 220, 220);
    cursor: default;
  }
}
